html {
  min-height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

body{
  font-family: Helvetica Neue, Helvetica, Arial;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #4C9CF1;
}

header {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #090A0F;
}

header h1, h2, h3 {
  color: white;
  display: inline-block;
}

#logo{
  margin: 5px 20px;
  float: left;
  width: 320px;
  height: 100px;
  background: url("Moonshot-Logo-Name-v1-320px-White.png") no-repeat center;
  display: block;
}

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: #4C8FEC url("Moonshot-Menu-Icon.png") center;
}

nav {
  float: right;
  padding: 20px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  float: left;
  padding: 10px;
}

.current {
  color: #2262AD;
}

article {
  clear: both;
  position: fixed;
  left: 50px;
  bottom: 300px;
  width: 100%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

article p {
  color: #2262AD;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 25%;
  width: 100%;
}

#large-footer {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#small-footer {
  display: none;
}

@media only screen and (max-width : 640px) {

#large-footer {
  display: none;
}

#small-footer {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

header {
  position: absolute;
}

#menu-icon {
  display:inline-block;
}

nav ul, nav:active ul { 
  display: none;
  position: absolute;
  padding: 20px;
  background: #fff;
  border: 5px solid #444;
  right: 20px;
  top: 60px;
  width: 50%;
  border-radius: 4px 0 4px 4px;
}

nav li {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

nav:hover ul {
  display: block;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 10%;
  width: 100%;
}

.stars {
  width: 1px;
  height: 1px;
  box-shadow:
  	628px 1411px #FFF,
  	408px 450px #FFF,
  	1125px 1150px #FFF,
  	1523px 1614px #FFF,
  	1470px 1663px #FFF,
  	1167px 1346px #FFF,
  	789px 104px #FFF,
  	1239px 1366px #FFF,
  	52px 118px #FFF,
  	1563px 748px #FFF,
  	1905px 1537px #FFF,
  	1539px 669px #FFF,
  	1460px 527px #FFF,
  	1803px 1270px #FFF,
  	444px 1681px #FFF,
  	955px 1787px #FFF,
  	1366px 1629px #FFF,
  	1991px 856px #FFF,
  	1418px 901px #FFF,
  	1546px 487px #FFF,
  	1206px 1479px #FFF,
  	294px 133px #FFF,
  	494px 1613px #FFF,
  	1244px 613px #FFF,
  	807px 1600px #FFF,
  	391px 1537px #FFF,
  	394px 223px #FFF,
  	1794px 840px #FFF,
  	497px 54px #FFF,
  	82px 1514px #FFF,
  	1596px 1211px #FFF,
  	319px 494px #FFF,
  	976px 1156px #FFF,
  	78px 330px #FFF,
  	439px 1121px #FFF,
  	239px 758px #FFF,
  	191px 1069px #FFF,
  	1966px 1716px #FFF,
  	1128px 1462px #FFF,
  	908px 460px #FFF,
  	1962px 530px #FFF,
  	669px 630px #FFF,
  	971px 639px #FFF,
  	1867px 624px #FFF,
  	661px 246px #FFF,
  	1201px 1944px #FFF,
  	1793px 993px #FFF,
  	1186px 1953px #FFF,
  	1883px 484px #FFF,
  	1021px 1273px #FFF,
  	550px 709px #FFF,
  	33px 1261px #FFF,
  	1733px 1593px #FFF,
  	1404px 1539px #FFF,
  	545px 384px #FFF,
  	67px 1253px #FFF,
  	995px 666px #FFF,
  	1698px 1518px #FFF,
  	421px 1663px #FFF,
  	1522px 859px #FFF,
  	1548px 521px #FFF,
  	1308px 378px #FFF,
  	1936px 1800px #FFF,
  	855px 1958px #FFF,
  	432px 811px #FFF,
  	795px 1442px #FFF,
  	1819px 1154px #FFF,
  	1467px 15px #FFF,
  	58px 914px #FFF,
  	103px 419px #FFF,
  	1877px 810px #FFF,
  	754px 1624px #FFF,
  	1405px 1010px #FFF,
  	1925px 1147px #FFF,
  	1945px 466px #FFF,
  	178px 1862px #FFF,
  	1717px 310px #FFF,
  	1460px 1141px #FFF,
  	266px 1976px #FFF,
  	1620px 773px #FFF,
  	90px 667px #FFF,
  	1626px 599px #FFF,
  	1672px 978px #FFF,
  	1397px 1679px #FFF,
  	1918px 87px #FFF,
  	1890px 1576px #FFF,
  	454px 817px #FFF,
  	21px 1386px #FFF,
  	1920px 934px #FFF,
  	1884px 148px #FFF,
  	1451px 56px #FFF,
  	1152px 107px #FFF,
  	1485px 170px #FFF,
  	1573px 361px #FFF,
  	1860px 1749px #FFF,
  	285px 818px #FFF,
  	93px 1378px #FFF,
  	1256px 1342px #FFF,
  	693px 599px #FFF,
  	12px 373px #FFF,
  	485px 129px #FFF,
  	803px 1525px #FFF,
  	960px 508px #FFF,
  	98px 1145px #FFF,
  	945px 1037px #FFF,
  	527px 1989px #FFF,
  	580px 611px #FFF,
  	815px 588px #FFF,
  	1679px 1623px #FFF,
  	1274px 1974px #FFF,
  	423px 1145px #FFF,
  	1753px 1719px #FFF,
  	1927px 1904px #FFF,
  	1528px 1763px #FFF,
  	920px 354px #FFF,
  	953px 1302px #FFF,
  	1572px 442px #FFF,
  	481px 579px #FFF,
  	1635px 385px #FFF,
  	1500px 131px #FFF,
  	1034px 139px #FFF,
  	1754px 1589px #FFF,
  	457px 404px #FFF,
  	1626px 1990px #FFF,
  	726px 964px #FFF,
  	554px 1664px #FFF,
  	298px 1440px #FFF,
  	1757px 371px #FFF,
  	1178px 248px #FFF,
  	621px 1785px #FFF,
  	1612px 984px #FFF,
  	1266px 1385px #FFF,
  	463px 869px #FFF,
  	1236px 1055px #FFF,
  	17px 583px #FFF,
  	615px 1120px #FFF,
  	1928px 1381px #FFF,
  	950px 108px #FFF,
  	631px 809px #FFF,
  	1844px 1606px #FFF,
  	993px 1199px #FFF,
  	337px 45px #FFF,
  	1456px 803px #FFF,
  	543px 1407px #FFF,
  	1303px 1736px #FFF,
  	1697px 1845px #FFF,
  	1970px 223px #FFF,
  	430px 463px #FFF,
  	914px 1967px #FFF,
  	1960px 774px #FFF,
  	1669px 923px #FFF,
  	1394px 1860px #FFF,
  	1303px 339px #FFF,
  	1089px 1729px #FFF,
  	1096px 1147px #FFF,
  	1798px 1226px #FFF,
  	1156px 276px #FFF,
  	1147px 1514px #FFF,
  	1275px 539px #FFF,
  	582px 1057px #FFF,
  	894px 1082px #FFF,
  	220px 724px #FFF,
  	447px 295px #FFF,
  	1004px 972px #FFF,
  	254px 522px #FFF,
  	967px 499px #FFF,
  	1994px 459px #FFF,
  	430px 892px #FFF,
  	1791px 124px #FFF,
  	1514px 252px #FFF,
  	217px 820px #FFF,
  	879px 1440px #FFF,
  	1465px 477px #FFF,
  	1183px 607px #FFF,
  	1410px 117px #FFF,
  	1679px 1198px #FFF,
  	274px 845px #FFF,
  	304px 1189px #FFF,
  	1685px 1265px #FFF,
  	1139px 1532px #FFF,
  	1027px 1515px #FFF,
  	196px 1663px #FFF,
  	1977px 658px #FFF,
  	944px 1723px #FFF,
  	523px 1602px #FFF,
  	384px 150px #FFF,
  	1486px 772px #FFF,
  	149px 1324px #FFF,
  	1179px 1224px #FFF,
  	646px 1798px #FFF,
  	311px 873px #FFF,
  	1558px 757px #FFF,
  	1961px 669px #FFF,
  	210px 1469px #FFF,
  	52px 1793px #FFF,
  	976px 1321px #FFF,
  	1986px 1129px #FFF,
  	1743px 946px #FFF,
  	1816px 898px #FFF,
  	1721px 96px #FFF,
  	1506px 741px #FFF,
  	1560px 1736px #FFF,
  	1355px 1928px #FFF,
  	732px 1545px #FFF,
  	1257px 1758px #FFF,
  	11px 645px #FFF,
  	839px 1584px #FFF,
  	1249px 759px #FFF,
  	79px 8px #FFF,
  	115px 1911px #FFF,
  	1135px 277px #FFF,
  	349px 108px #FFF,
  	1283px 1774px #FFF,
  	327px 549px #FFF,
  	1449px 1280px #FFF,
  	386px 1265px #FFF,
  	634px 1111px #FFF,
  	640px 10px #FFF,
  	260px 1775px #FFF,
  	799px 1323px #FFF,
  	1473px 1303px #FFF,
  	1802px 711px #FFF,
  	1397px 866px #FFF,
  	1456px 407px #FFF,
  	1481px 85px #FFF,
  	614px 1137px #FFF,
  	1898px 1679px #FFF,
  	172px 1391px #FFF,
  	1770px 394px #FFF,
  	880px 495px #FFF,
  	188px 400px #FFF,
  	1264px 1460px #FFF,
  	131px 240px #FFF,
  	140px 1678px #FFF,
  	613px 50px #FFF,
  	759px 1310px #FFF,
  	1312px 1399px #FFF,
  	752px 56px #FFF,
  	473px 1542px #FFF,
  	1682px 1776px #FFF,
  	580px 1062px #FFF,
  	1647px 1106px #FFF,
  	984px 866px #FFF,
  	717px 1919px #FFF,
  	2000px 1043px #FFF,
  	818px 185px #FFF,
  	1386px 1502px #FFF,
  	1195px 258px #FFF,
  	1938px 1195px #FFF,
  	1174px 1350px #FFF,
  	1868px 1554px #FFF,
  	1242px 584px #FFF,
  	721px 96px #FFF,
  	657px 94px #FFF,
  	1486px 1252px #FFF,
  	1802px 1687px #FFF,
  	200px 869px #FFF,
  	1352px 1546px #FFF,
  	162px 440px #FFF,
  	1219px 709px #FFF,
  	346px 1411px #FFF,
  	968px 284px #FFF,
  	1406px 1372px #FFF,
  	1618px 917px #FFF,
  	842px 1700px #FFF,
  	1272px 990px #FFF,
  	1679px 1453px #FFF,
  	339px 1193px #FFF,
  	1486px 1853px #FFF,
  	415px 1253px #FFF,
  	671px 706px #FFF,
  	1680px 1252px #FFF,
  	503px 791px #FFF,
  	775px 1499px #FFF,
  	604px 961px #FFF,
  	1114px 1824px #FFF,
  	1915px 981px #FFF,
  	1975px 1951px #FFF,
  	1112px 421px #FFF,
  	1181px 1882px #FFF,
  	1088px 1390px #FFF,
  	1713px 791px #FFF,
  	649px 1365px #FFF,
  	1529px 1259px #FFF,
  	1286px 1989px #FFF,
  	140px 828px #FFF,
  	1063px 1669px #FFF,
  	1892px 907px #FFF,
  	1458px 1407px #FFF,
  	640px 484px #FFF,
  	1839px 1769px #FFF,
  	166px 1437px #FFF,
  	366px 100px #FFF,
  	832px 1606px #FFF,
  	1928px 1782px #FFF,
  	541px 26px #FFF,
  	162px 721px #FFF,
  	1265px 24px #FFF,
  	1168px 378px #FFF,
  	147px 839px #FFF,
  	131px 1276px #FFF,
  	78px 39px #FFF,
  	1078px 1606px #FFF,
  	1260px 1966px #FFF,
  	1960px 924px #FFF,
  	158px 1606px #FFF,
  	1215px 1758px #FFF,
  	1922px 436px #FFF,
  	117px 1618px #FFF,
  	1225px 1626px #FFF,
  	289px 23px #FFF,
  	354px 1047px #FFF,
  	989px 714px #FFF,
  	18px 702px #FFF,
  	422px 1276px #FFF,
  	36px 1416px #FFF,
  	789px 1765px #FFF,
  	938px 1130px #FFF,
  	1509px 1082px #FFF,
  	1424px 651px #FFF,
  	109px 1389px #FFF,
  	17px 1689px #FFF,
  	1425px 1527px #FFF,
  	371px 842px #FFF,
  	1765px 1212px #FFF,
  	1848px 938px #FFF,
  	361px 1909px #FFF,
  	917px 962px #FFF,
  	1358px 1725px #FFF,
  	1932px 1253px #FFF,
  	937px 295px #FFF,
  	262px 921px #FFF,
  	447px 481px #FFF,
  	1251px 1190px #FFF,
  	968px 318px #FFF,
  	289px 981px #FFF,
  	1078px 401px #FFF,
  	779px 991px #FFF,
  	1538px 1415px #FFF,
  	421px 22px #FFF,
  	771px 443px #FFF,
  	907px 1894px #FFF,
  	1341px 323px #FFF,
  	1246px 1692px #FFF,
  	691px 1358px #FFF,
  	1769px 1545px #FFF,
  	647px 575px #FFF,
  	180px 894px #FFF,
  	547px 670px #FFF,
  	698px 1295px #FFF,
  	1066px 1179px #FFF,
  	1718px 1539px #FFF,
  	1596px 1474px #FFF,
  	104px 59px #FFF,
  	1110px 658px #FFF,
  	150px 1358px #FFF,
  	1173px 1679px #FFF,
  	1118px 100px #FFF,
  	420px 1703px #FFF,
  	1617px 368px #FFF,
  	1924px 1021px #FFF,
  	1990px 1376px #FFF,
  	1078px 677px #FFF,
  	668px 53px #FFF,
  	417px 358px #FFF,
  	1136px 1123px #FFF,
  	1688px 62px #FFF,
  	150px 1749px #FFF,
  	229px 219px #FFF,
  	1685px 1625px #FFF,
  	399px 620px #FFF,
  	849px 1615px #FFF,
  	1828px 1417px #FFF,
  	427px 44px #FFF,
  	1265px 111px #FFF,
  	936px 1155px #FFF,
  	1827px 1941px #FFF,
  	1624px 724px #FFF,
  	938px 191px #FFF,
  	1063px 518px #FFF,
  	1226px 789px #FFF,
  	1403px 169px #FFF,
  	924px 80px #FFF,
  	1485px 820px #FFF,
  	1617px 1422px #FFF,
  	1940px 985px #FFF,
  	472px 1549px #FFF,
  	1023px 503px #FFF,
  	1204px 355px #FFF,
  	504px 1412px #FFF,
  	1831px 1105px #FFF,
  	976px 1381px #FFF,
  	490px 200px #FFF,
  	997px 208px #FFF,
  	1475px 973px #FFF,
  	725px 1406px #FFF,
  	21px 697px #FFF,
  	86px 384px #FFF,
  	265px 1694px #FFF,
  	258px 775px #FFF,
  	65px 1266px #FFF,
  	1068px 1846px #FFF,
  	715px 699px #FFF,
  	699px 1553px #FFF,
  	1738px 292px #FFF,
  	1283px 919px #FFF,
  	949px 980px #FFF,
  	1289px 1508px #FFF,
  	1202px 1981px #FFF,
  	1021px 1126px #FFF,
  	1161px 1472px #FFF,
  	1604px 136px #FFF,
  	380px 954px #FFF,
  	399px 130px #FFF,
  	955px 378px #FFF,
  	1046px 699px #FFF,
  	1397px 1025px #FFF,
  	1149px 312px #FFF,
  	537px 80px #FFF,
  	1312px 1015px #FFF,
  	1878px 1828px #FFF,
  	386px 589px #FFF,
  	1089px 1233px #FFF,
  	1377px 1228px #FFF,
  	500px 460px #FFF,
  	880px 275px #FFF,
  	276px 1411px #FFF,
  	453px 1396px #FFF,
  	1881px 1705px #FFF,
  	1328px 663px #FFF,
  	743px 1287px #FFF,
  	1692px 1677px #FFF,
  	1646px 47px #FFF,
  	329px 1659px #FFF,
  	137px 1956px #FFF,
  	471px 1591px #FFF,
  	1978px 1703px #FFF,
  	969px 892px #FFF,
  	243px 1576px #FFF,
  	1348px 1563px #FFF,
  	1326px 18px #FFF,
  	1327px 743px #FFF,
  	743px 1326px #FFF,
  	671px 1970px #FFF,
  	1401px 1464px #FFF,
  	619px 1472px #FFF,
  	1899px 184px #FFF,
  	1028px 1476px #FFF,
  	727px 931px #FFF,
  	138px 917px #FFF,
  	1066px 1565px #FFF,
  	1442px 1013px #FFF,
  	1313px 787px #FFF,
  	1055px 1861px #FFF,
  	997px 422px #FFF,
  	191px 1909px #FFF,
  	500px 169px #FFF,
  	1px 1475px #FFF,
  	604px 1681px #FFF,
  	1800px 593px #FFF,
  	1291px 768px #FFF,
  	591px 1469px #FFF,
  	398px 1496px #FFF,
  	1535px 1225px #FFF,
  	1555px 194px #FFF,
  	135px 1062px #FFF,
  	1671px 746px #FFF,
  	784px 1244px #FFF,
  	1988px 44px #FFF,
  	974px 1568px #FFF,
  	875px 355px #FFF,
  	1381px 710px #FFF,
  	1661px 342px #FFF,
  	1384px 89px #FFF,
  	681px 207px #FFF,
  	992px 1041px #FFF,
  	736px 1234px #FFF,
  	1423px 1869px #FFF,
  	517px 127px #FFF,
  	1812px 936px #FFF,
  	1436px 281px #FFF,
  	1772px 513px #FFF,
  	816px 1975px #FFF,
  	845px 1301px #FFF,
  	1417px 1699px #FFF,
  	1128px 537px #FFF,
  	1413px 447px #FFF,
  	1128px 1557px #FFF,
  	1737px 248px #FFF,
  	765px 1167px #FFF,
  	1146px 411px #FFF,
  	460px 846px #FFF,
  	1050px 854px #FFF,
  	129px 402px #FFF,
  	897px 1964px #FFF,
  	168px 273px #FFF,
  	859px 354px #FFF,
  	91px 439px #FFF,
  	962px 231px #FFF,
  	235px 469px #FFF,
  	1175px 364px #FFF,
  	771px 1051px #FFF,
  	213px 1035px #FFF,
  	669px 587px #FFF,
  	1438px 1835px #FFF,
  	871px 1338px #FFF,
  	1079px 613px #FFF,
  	449px 463px #FFF,
  	113px 1732px #FFF,
  	1184px 1927px #FFF,
  	662px 1725px #FFF,
  	1131px 1980px #FFF,
  	455px 1295px #FFF,
  	86px 1722px #FFF,
  	337px 1808px #FFF,
  	1901px 388px #FFF,
  	309px 1499px #FFF,
  	1488px 72px #FFF,
  	179px 1592px #FFF,
  	1483px 135px #FFF,
  	351px 830px #FFF,
  	373px 1637px #FFF,
  	1394px 841px #FFF,
  	1999px 1804px #FFF,
  	1110px 514px #FFF,
  	1717px 1019px #FFF,
  	1944px 1414px #FFF,
  	1031px 1079px #FFF,
  	904px 954px #FFF,
  	1957px 844px #FFF,
  	1544px 166px #FFF,
  	749px 1052px #FFF,
  	1884px 1045px #FFF,
  	1531px 17px #FFF,
  	1463px 574px #FFF,
  	1215px 1604px #FFF,
  	1504px 49px #FFF,
  	461px 1386px #FFF,
  	520px 1091px #FFF,
  	1019px 1365px #FFF,
  	357px 1334px #FFF,
  	96px 366px #FFF,
  	1441px 1416px #FFF,
  	1845px 693px #FFF,
  	455px 902px #FFF,
  	1910px 483px #FFF,
  	966px 1298px #FFF,
  	1014px 825px #FFF,
  	1549px 1971px #FFF,
  	1681px 1398px #FFF,
  	625px 976px #FFF,
  	144px 919px #FFF,
  	758px 1631px #FFF,
  	1482px 1482px #FFF,
  	904px 709px #FFF,
  	142px 1994px #FFF,
  	1300px 455px #FFF,
  	1738px 1413px #FFF,
  	935px 1929px #FFF,
  	1782px 762px #FFF,
  	448px 1487px #FFF,
  	1860px 1369px #FFF,
  	1845px 970px #FFF,
  	109px 1190px #FFF,
  	1536px 1268px #FFF,
  	1496px 412px #FFF,
  	730px 1499px #FFF,
  	156px 1293px #FFF,
  	29px 1486px #FFF,
  	26px 1548px #FFF,
  	601px 432px #FFF,
  	139px 276px #FFF,
  	1205px 1540px #FFF,
  	876px 1153px #FFF,
  	1351px 312px #FFF,
  	722px 1882px #FFF,
  	488px 1595px #FFF,
  	473px 796px #FFF,
  	352px 1711px #FFF,
  	1347px 229px #FFF,
  	404px 756px #FFF,
  	908px 1843px #FFF,
  	1806px 684px #FFF,
  	886px 1317px #FFF,
  	805px 640px #FFF,
  	1088px 1283px #FFF,
  	1331px 960px #FFF,
  	1729px 1178px #FFF,
  	1825px 103px #FFF,
  	1137px 821px #FFF,
  	1321px 912px #FFF,
  	1151px 1454px #FFF,
  	370px 1029px #FFF,
  	1453px 138px #FFF,
  	611px 600px #FFF,
  	87px 464px #FFF,
  	615px 1373px #FFF,
  	1087px 1884px #FFF,
  	569px 924px #FFF,
  	1795px 1169px #FFF,
  	1461px 1933px #FFF,
  	978px 1723px #FFF,
  	1627px 699px #FFF,
  	585px 1888px #FFF,
  	1640px 1854px #FFF,
  	1156px 481px #FFF,
  	584px 809px #FFF,
  	547px 1164px #FFF,
  	250px 963px #FFF,
  	834px 752px #FFF,
  	68px 679px #FFF,
  	731px 157px #FFF,
  	992px 1837px #FFF,
  	1408px 1520px #FFF,
  	1866px 1350px #FFF,
  	186px 386px #FFF,
  	602px 28px #FFF,
  	1371px 1053px #FFF,
  	5px 1648px #FFF,
  	1221px 1360px #FFF,
  	1276px 1004px #FFF,
  	1664px 86px #FFF,
  	1928px 1219px #FFF,
  	153px 618px #FFF,
  	1711px 1095px #FFF,
  	224px 1433px #FFF,
  	151px 456px #FFF,
  	1965px 463px #FFF,
  	75px 413px #FFF,
  	708px 859px #FFF,
  	706px 546px #FFF,
  	605px 1810px #FFF,
  	1246px 514px #FFF,
  	786px 1512px #FFF,
  	1109px 1138px #FFF,
  	1347px 558px #FFF,
  	102px 239px #FFF,
  	1372px 592px #FFF,
  	1062px 1749px #FFF,
  	262px 1371px #FFF,
  	136px 591px #FFF,
  	1743px 349px #FFF,
  	165px 929px #FFF,
  	887px 945px #FFF,
  	1269px 705px #FFF,
  	234px 1554px #FFF,
  	1490px 73px #FFF,
  	1477px 547px #FFF,
  	1844px 1450px #FFF,
  	1038px 1365px #FFF,
  	41px 1945px #FFF,
  	1267px 35px #FFF,
  	255px 1036px #FFF,
  	1859px 1789px #FFF,
  	1709px 911px #FFF,
  	1204px 1917px #FFF,
  	214px 781px #FFF,
  	1381px 1310px #FFF,
  	1341px 1418px #FFF,
  	312px 1828px #FFF,
  	80px 971px #FFF,
  	1360px 362px #FFF,
  	869px 691px #FFF,
  	387px 1502px #FFF,
  	1083px 332px #FFF,
  	723px 1472px #FFF,
  	257px 472px #FFF,
  	206px 898px #FFF,
  	1260px 1011px #FFF,
  	1308px 1810px #FFF,
  	1862px 967px #FFF,
  	123px 1826px #FFF,
  	1378px 929px #FFF,
  	158px 158px #FFF,
  	1254px 1078px #FFF,
  	1669px 332px #FFF,
  	1778px 469px #FFF,
  	540px 6px #FFF,
  	241px 500px #FFF,
  	1196px 696px #FFF,
  	1946px 1063px #FFF,
  	1480px 902px #FFF,
  	580px 1109px #FFF,
  	1344px 186px #FFF,
  	1732px 226px #FFF,
  	1581px 1157px #FFF,
  	364px 67px #FFF,
  	1417px 1993px #FFF,
  	1190px 780px #FFF,
  	1517px 688px #FFF,
  	846px 1952px #FFF,
  	1991px 754px #FFF,
  	718px 1686px #FFF,
  	1675px 1610px #FFF,
  	1226px 1034px #FFF,
  	240px 1130px #FFF,
  	119px 322px #FFF,
  	305px 563px #FFF,
  	1030px 427px #FFF,
  	1948px 1960px #FFF;
  	position: fixed;
}
