html {
  height: 980px;
  width: 1295px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial;
}

header {
  width: 1285px;
  height: 100px;
  background-color: black;
  border: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 0px;
  clear: both;
}


nav {
  float: right;
  padding: 20px;
  font-size: large;
  font-weight: bold;
}

nav li {
  float: left;
}

article {
  float: left;
  height: 730px;
  width: 1285px;
  clear: both
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: large;
  color: white;
}

article.content-scrollable {
  overflow: scroll;
}

footer {
  float: center;
  width: 1285px;
  height: 100px;
  text-align: center;
  background-color: black;
  border: 1px solid black;
  padding-bottom: 1em;
  clear: both;
}

#logo{
  margin: 5px 20px;
  float: left;
  width: 320px;
  height: 100px;
  background: url("Moonshot-Logo-Name-v1-320px-White.png") no-repeat center;
  display: block;
}

#small-footer {
  display: block;
}

@media only screen and (max-width : 640px) {

#large-footer {
  display: none;
}

